.d-flex {
  display: flex;
}

.middle-center {
  justify-content: center;
  align-items: center;
}

.middle-top {
  justify-content: center;
  align-items: flex-start;
}

.middle-bottom {
  justify-content: center;
  align-items: flex-end;
}

.left-center {
  justify-content: flex-start;
  align-items: center;
}

.left-top {
  justify-content: flex-start;
  align-items: flex-start;
}

.left-bottom {
  justify-content: flex-start;
  align-items: flex-end;
}

.right-center {
  justify-content: flex-end;
  align-items: center;
}

.right-top {
  justify-content: flex-end;
  align-items: flex-start;
}

.right-bottom {
  justify-content: flex-end;
  align-items: flex-end;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around
}

.flex-row {
  flex-direction: row;
}

.flex-row-re {
  flex-direction: row-reverse
}

.flex-column {
  flex-direction: column;
}

.flex-column-re {
  flex-direction: column-reverse;
}

/* —----------css-------------- */

* {margin: 0; padding: 0;}

#base {
  width: 100vw;
  height: 100vh;

  background-color: #fff;
}

.root {
  width: 1100px;
  height: 700px;

  /* background-color: aqua; */

  position: relative;
}

.top {
  width: 80%;
  height: 94%;

  /* border: 3px solid salmon; */

  position: absolute;
  z-index: 2;
}

.top > div {
  width: 90%;
  height: 100%;

  /* background-color: aquamarine; */
}

.top > div > div {
  width: 100%;
  height: 33.5%;

  /* border: 1px solid maroon; */
}

.point {
  width: 58%;
  height: 100%;

  /* border: 1px solid magenta; */

  position: relative;

}

/* --------------------------------------- */

.point > div {
  width: 47%;
  height: 100%;

  /* border: 2px solid rgb(166, 255, 0); */
  /* background-color: aqua; */

  position: absolute;
  
}

.n1 {
  top: 46%;
}

.n2 {
  right: 0%;
}

.n3 {
  top: 46%;
  left: 10%;
}

.n4 {
  bottom: 52%;
  right: 0%;
}

.point > div > div {
  width: 74%;
  height: 74%;
  border-radius: 100px;

  background-color: #ececec;
}

/* --------------3단계채색 바닥---------------- */

.wrap {
  width: 100%;
  height: 100%;

  position: relative;
  z-index: 1;
}

.wrap > div {
  width: 100%;
  height: 33.5%;
}

.wrap > div:nth-child(1) {
  background-color: #d8d8d8;
}

.wrap > div:nth-child(2) {
  background-color: #a7a7a7;
}

.wrap > div:nth-child(3) {
  background-color: #8a8a8a;
}

/* -------------------------------------------- */